*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
    color:unset;
}

header{
    background-image:url("day14.html\day.jpeg");
    height:300px;
    background-size: cover;
    background-position: center;
}

img.social{
    width: 20px;px;
}

footer{
    background-color:#f1f1f1;
    color:#111;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
    font-size:1.2rem;
    position:absolute;
    bottom:0;
    width:100%;
}